* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20rem;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

.addBook{
    font-size: 10rem;
    padding: 2rem;
    border-radius: 3rem;
    border-style: none;
    position: sticky;
    top: 1rem;
}

#books {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.book{
    background-color: bisque;
    border-radius: 3rem;
    padding: 5rem;
    width: fit-content;
}
.book > p{
    font-size: 5rem;
    width: 15ch;
}

/* Book Form Section */
.addBookForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: fit-content;
    gap: 1rem;
    background-color: cadetblue;
    border-radius: 2rem;
    padding: 2rem;
    position: fixed;
    bottom: auto;
    top: auto;
}

.addBookForm > div{
    display: flex;
    gap: 0.5rem;
}

.readSelection{
    display: flex;
    padding: 1rem;
}
.readSelection > *{
    flex-grow: 1;
}
input[type='radio'] {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
}

.addBookForm > div > input{
    flex-grow: 1;
}
.addBookForm > div > *{
    font-size: 3rem;
}

.hidden {
    display: none;
}